body {
    margin: 0;
    background-color: rgb(119, 87, 87);
}

.header {
    background-color: orange;
    color: black;
}

.heading {
    margin: 0;
    padding-left: 15px;
    font-size: 50px;
    color: black;
}

.section {
    background-color: gray;
}

.list {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

li {
    padding: 5px;
}

.anchor {
    color: black;
}

.section#recipe_image {
    padding: 20px;
}

.heading.two {
    font-size: 40px;
    padding-left: 20px;
}

.text {
    font-size: 18px;
    color: black;
}

.paragraph {
    margin: 0;
    padding: 20px;
    padding-left: 40px;
}

.heading.three {
    font-size: 30px;
    padding: 5px;
    padding-left: 20px;
}

.heading.four {
    font-size: 22px;
    padding: 10px;
    padding-left: 40px;
}

#recipe_ingredients .unordered_list {
    padding-left: 60px;
}

#recipe_instructions .ordered_list {
    padding-left: 60px;
}

ol li {
    padding: 9px;
}
