body {
    margin: 0;
    background-color: rgb(119, 87, 87);
    padding-bottom: 100%;
}

.header {
    background-color: orange;
    color: black;
}

.heading {
    margin: 0;
    padding-left: 10px;
}

.section {
    background-color: gray;
}

.unordered_list {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list_item {
    padding: 5px;
}

.anchor {
    color: black;
}
